$tundora: #444444;
$black: #000000;
$white: #ffffff;
$green: #68b738;
$alto: #d9d9d9;
$concrete: #f2f2f2;
$gallery: #eaeaea;
$mine-shaft: #222222;

$sm: 320px;
$md: 768px;
$xl: 1440px;

@mixin max($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin min($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 360px;

  @include min($md) {
    max-width: 828px;
    padding: 0 30px;
  }

  @include min($xl) {
    max-width: 1640px;
    padding: 0 110px;
  }
}

@mixin title {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @include min($md) {
    font-size: 60px;
    line-height: 1;
  }
}

@mixin form-text {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $tundora;
}
