.card-product {
  &__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 84px;
      max-height: 101px;
    }
  }

  &__title {
    margin-bottom: 20px;
    width: 80px;
    font-family: "oswald", sans-serif;
    font-size: 16px;
    line-height: 20 / 16 * 100%;
    text-transform: uppercase;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 140px;
    max-width: 100%;
    color: $tundora;
    font-size: 12px;
    line-height: 16 / 12 * 100%;
  }

  &__parameter,
  &__value {
    display: block;
  }

  &--add {
    .card-product__button {
      color: $tundora;
      background-color: $concrete;
    }
  }
}
