.header {
  height: 65px;
  border-bottom: 1px solid $alto;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
  }

  &__navigation {
    height: 65px;
    display: flex;
    align-items: center;
  }
}
