.list-advantages {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 20px;
    padding: 30px 20px 20px;
    width: 100%;
    background-color: $concrete;
  }

  &__title {
    margin-bottom: 30px;
    padding: 0 10px 0 70px;
    font-size: 24px;
    line-height: 37 / 24 * 100%;
    text-transform: uppercase;
  }

  &__text {
    max-width: 240px;
    margin: 0 auto;
    padding: 0 0 25px 0;
    border-bottom: 1px solid $alto;
  }

  &__link {
    display: block;
    padding: 20px 20px 0;
    color: $black;
    font-size: 16px;
    line-height: 16 / 16 * 100%;
    text-transform: uppercase;
  }
}
