.list-works-how {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    min-height: 60px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__text {
    position: relative;
    padding-left: 80px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &--nutrients::before {
      background-image: url(../../img/works-how/nutrients.svg);
    }

    &--powder::before {
      background-image: url(../../img/works-how/powder.svg);
    }

    &--replacement::before {
      background-image: url(../../img/works-how/replacement.svg);
    }

    &--changes::before {
      background-image: url(../../img/works-how/changes.svg);
    }
  }
}
