.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-family: "oswald", sans-serif;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  border: none;

  @include min($md) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 1;
  }
}
